<table>
  <tr>
    <th>No.</th>
    <th>User</th>
    <th>Sentence</th>
    <th>Created at</th>
    <th></th>
  </tr>

<% messages.sort{ |a, b| a.created_at <=> b.created_at }.each.with_index(1){ |message, index| %>
  <tr>
    <td><%= index %></td>
    <td><%= render partial: '/layouts/user_icon', locals: { user: message.user } %></td>
    <td><%= raw show_markdown( message.sentence ) if message.sentence.present? %></td>
    <td><%= message.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
    <td><% if message.user_id == current_user.id %><%= link_to t( "menu.destroy" ), room_message_path( room, message ), method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %><% end %></td>
  </tr>
<% } %>
</table>
