<script type="text/javascript">
  /* Pusher */
  var pusher = new Pusher('<%= Pusher.key %>'); // uses your API KEY
  var channel = pusher.subscribe('channel_room_<%= @room.id %>');

  channel.bind( 'message_event_room_<%= @room.id %>', function(result){
    $.get(
      // 送信先
      "/rooms/<%= @room.id %>/messages/list",
      // 送信データ
      { <%= (@user_id.present? ? "user_id: #{@user_id}" : nil) %> },
      // コールバック
      function(data, status) {
        $('#messages_target_room_<%= @room.id %>').html(data);
        // デスクトップ通知
        Notification.show( result.icon, result.title, result.message, 8000 );
      },
      // 応答データ形式
      "html"
    );
  });
</script>

<%# ルーム名 %>
<h3><%= link_to( @room.title, room_messages_path( @room ) ) %></h3>

<%# ルーム権限／メッセージ数 %>
<p><%= @room.permission %>：<%= @room.messages_count %></p>

<p><%= link_to( "全てのメッセージを見る", all_room_messages_path( @room ), target: "_blank" ) %></p>

<%# 発言者ユーザアイコンリスト %>
<p><%= render partial: '/messages/user_icons', locals: { users: Message.uniq_users(@messages), room: @room, type: "index" } %></p>

<%# メッセージ一覧 %>
<div id="messages_target_room_<%= @room.id %>">
  <%= render partial: '/messages/messages', locals: { room: @room, messages: @messages, user_id: @user_id } %>
</div>

<br />

<p><%= link_to( "全てのメッセージを見る", all_room_messages_path( @room ), target: "_blank" ) %></p>

<br />

<%# 新規メッセージフォーム %>
<%= form_for( :message, url: room_messages_path ) do |f| %>
  <p><%= f.text_area :sentence, wrap: "off", class: "span8", rows: 5 %></p>

  <p><%= button_tag "プレビュー", type: "button", onclick: "message_preview()" %></p>
  <p id="message_preview"></p>

  <p><%= f.submit "投稿", data: { 'disable-with' => "投稿" } %></p>
<% end %>

<br />
<br />

<%= link_to "Rooms", rooms_path %>
