<%# Pusher %>
<script type="text/javascript">
  var pusher = new Pusher('<%= Pusher.key %>'); // uses your API KEY
  var channel = pusher.subscribe('channel_room_<%= @room.id %>');

  channel.bind( 'message_event_room_<%= @room.id %>', function(data){
    $.get(
      // 送信先
      "/rooms/<%= @room.id %>/messages/list",
      // 送信データ
      null,
      // コールバック
      function(data, status) {
        console.log( "[ status ] : " + status );
        $('#messages_target_room_<%= @room.id %>').html(data);
      },
      // 応答データ形式
      "html"
    );
  } );
</script>

<h3><%= link_to( @room.title, room_messages_path( @room ) ) %></h3>

<p><%= @room.permission %></p>

<%# メッセージリスト %>
<div id="messages_target_room_<%= @room.id %>">
  <%= render partial: 'messages', locals: { room: @room, messages: @messages } %>
</div>

<br />

<%= form_for( :message, url: room_messages_path ) do |f| %>
  <div class="field">
    <%= f.text_area :sentence, wrap: "off", class: "span8", rows: 5 %>
  </div>

  <div class="actions">
    <%= f.submit t( "menu.create" ), data: { 'disable-with' => t( "menu.create" ) } %>
  </div>
<% end %>

<%#= link_to t( "menu.new" ), new_room_path %>

<br />
<br />

<%= link_to "Rooms", rooms_path %>
