
<h3><%= params[:room_type] %> rooms</h3>

<% if @rooms.present? %>
<table>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Permission</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rooms.each{ |room| %>
  <tr>
    <td><%= render partial: '/layouts/user_icon', locals: { user: room.user } %></td>
    <td><%= link_to room.title, room_messages_path( room ) %></td>
    <td><%= room.permission %></td>
    <% if room.user_id == current_user.try(:id) %>
    <td><%= link_to t( "menu.show" ), room_path( room ) %></td>
    <td><%= link_to t( "menu.edit" ), edit_room_path( room ) %></td>
    <td><%= link_to t( "menu.destroy" ), room_path( room ), method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %></td>
    <% end %>
  </tr>
<% } %>
</table>
<% end %>

<br />

<%= link_to "New Room", new_room_path %>

<br />
<br />

<%= link_to t( "menu.top" ), :root %>
